:root {
    --brand-color: #2E2F42;
    --background-color: #FFFFFF;
    --button-color: #4D5AE5;
}
.body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--brand-color);
}
.top-color {
    background-color: #2E2F42;
    display: flex;
    padding-top: 192px;
    padding-bottom: 192px;
}
.container-top-color {
}
.text {
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 56px;
    margin-left: 474px;
    margin-right: 474px;
}
.first-button {
    background-color: var(--button-color);
    color: var(--background-color);
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    font-family: inherit;
    margin-top: 48px;
    padding: 16px 32px;
    margin-left: 635px;
}
.secondlogo {
    color: #F4F4FD;
    font-weight: 800;
    font-size: 18px;
}
.second-logo-top {
    color: var(--brand-color);
    font-weight: 800;
    font-size: 18px;
}
.interactive:focus,
.interactive:hover {
    background-color: var(--button-color);
    color: #FFFFFF;
}
.interactive {
    background-color: #F4F4FD;
    color: var(--button-color);
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    margin-left: 24px;
}
nav {
    color: var(--brand-color);
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.first-button:focus,
.first-button:hover,
.first-button:active {
    background-color: var(--button-color);
    color: var(--background-color);
}
.speciality {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.direction {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
.description {
    font-weight: 400;
    font-size: 16px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.header {
    box-shadow: 0px 2px 1px;
}
.container-header {
    display:flex;
    margin: 0 auto;
    align-items: center;
}
.contacts {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
}
.link-to-logo {
    color: var(--button-color);
    font-weight: 800;
    font-size: 18px;
    margin-right: 77px;
    margin-left: 156px;
}
.link-to:visited {
    color: var(--brand-color);
}
.container-header_item {
    display: inline;
    margin-left: auto;
}
.container-header_item:not(:last-child) {
margin-right: 40px;
}
.container-header_contacts {
    display: inline;
}
.container-header-contacts:last-child {
    margin-left: 156px;
}
.container-header_contacts:not(:last-child) {
    margin-left: 331px;
    margin-right: 40px;
}
.headlines-container {
    display: flex;
    padding-top: 120px;
    padding-bottom: 200px;
}
.headlines {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
.headlines-item:first-child {
    margin-left: 156px;
}
.headlines-item {
    margin-top: 8px;
    width: 264px;
}

.headlines-item:last-child {
    margin-right: 156px;
}

.headlines-item:not(:last-child) {
    margin-right: 24px;
}
.information {
    font-weight: 400;
    font-size: 16px;
}
.container-team {
    display: flex;
}
.container-name:not(:last-child) {
    margin-right: 24px;
}
.container-name:first-child {
    margin-left: 156px;
}
.container-name:last-child {
    margn-right: 156px;
}
.our-team {
    font-weight: 600;
    font-size: 36px;
    margin-left: 639px;
    margin-right: 639px;
}
.names {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.button-boss {
    display: flex;
    width: 1158px;
    margin-left: 427px;
    margin-right: 427px;
}
.our-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.we-do-images {
    display: flex;
    align-items: center;
}
.we-do:not(:last-child) {
    margin-right: 24px;
}
.we-do:first-child {
    margin-left: 156px;
}
.we-do:last-child {
    margin-right: 156px;
}
.wawd {
    font-weight: 600;
    font-size: 36px;
    margin-left: 559px;
    margin-right: 559px;;
}
.footer {
    background-color: var(--brand-color);
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-text {
    color: #E7E9FC;
    font-family: Roboto;
    margin-left: 156px;
}
.footer-logo {
    color: var(--button-color);
    font-weight: 800;
    font-size: 18px;
    margin-right: 77px;
    margin-left: 156px;
}

.footer-logo:visited {
    color: var(--brand-color);
}